@charset "UTF-8";

html{
  font-size: 100%;
  scroll-behavior: smooth;
}

body{
  color: #000;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans', Meiryo, sans-serif;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

img{
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.wrapper{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

li{
  list-style: none;
}

.section-title{
  color: #C2932F;
  font-size: 7.5rem;
  font-weight: normal;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: .1em;
  line-height: 1;
}

/* MV */

.mv{
  margin: 0 auto;
  max-width: 1920px;
  max-height: 1099px;
  width: 100%;
  height: 100%;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 160px;
}

.mv__inner{
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}

.site-title{
  transform: translateX(-80px);
  width: 269px;
  height: 269px;
}

.mv__title{
  margin-top: 60px;
  display: inline-block;
  color: #C2932F;
  letter-spacing: .1em;
  border: 1px solid #C2932F;
  padding-top: 14px;
  padding-right: 36px;
  padding-bottom: 11px;
  padding-left: 26px;
  line-height: 1;
  font-weight: bold;
  font-size: 1.25rem;
}

.mv__message{
  margin-top: 45px;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1;
}

.mv__message-small{
  font-size: 2.5rem;
}

.mv__circle-list{
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
}

.mv__circle-list .mv__circle{
  width: 238px;
  height: 238px;
  border: 6px solid #C2932F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.mv__circle-list .mv__circle:nth-of-type(2){
  padding-top: 30px;
  display: block;
}

.mv__circle-list .mv__circle:nth-of-type(2) span{
  display: inline-block;
  font-size: 1.5rem;
}

.mv__circle-list .mv__circle:nth-of-type(3){
  padding-top: 20px;
  display: block;
  font-size: 2.875rem;
}

.mv__circle-list .mv__circle:nth-of-type(3) span{
  display: inline-block;
  font-size: 1.75rem;
}

.mv__circle-list .mv__circle-img{
  transform: translateY(-20px);
  width: 295px;
  height: 295px;
}

.mv__circle-list .mv__circle-img img{
  height: 100%;
}

/* CAMPAIGN */

.campaign{
  margin: 0 auto;
  max-width: 1920px;
  background-color: #000;
  padding-top: 54px;
  padding-bottom: 77px;
}

.campaign__inner{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.campaign__open{
  position: absolute;
  top: 0;
  left: 0;
  width: 266px;
  height: 268px;
}

.campaign__ribbon-up{
  margin: 0 auto;
  width: 563px;
  height: 30px;
}

.campaign__ribbon-down{
  margin: 0 auto;
  margin-top: 36px;
  width: 563px;
  height: 30px;
}

.campaign__title{
  margin-top: 12px;
  font-size: 4rem;
  font-weight: bold;
  color: #CCAC4E;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -5px; 
}

.campaign__table{
  margin-top: 20px;
  text-align: center;
}

.campaign__table__title{
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 3px;
  padding-right: 57px;
  padding-bottom: 4px;
  padding-left: 54px;
}

.campaign__description{
  margin: 0 auto;
  margin-top: 15px;
  max-width: 615px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.campaign__name{
  width: 55%;
  border-bottom: 1px dotted #fff;
  text-align: left;
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 10px;
}

.campaign__price{
  width: 45%;
  border-bottom: 1px dotted #fff;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.campaign__price span{
  color: #C31F1F;
}

.campaign__table__asterisk{
  margin: 0 0 0 auto;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 9px;
  padding-right: 12px;
}


/* CONCEPT */

.concept{
  margin: 0 auto;
  max-width: 1920px;
  background-color: gray;
  padding-bottom: 115px;
}

.concept__inner{
  margin: 0 auto;
  max-width: 1200px;
}

.concept__title{
  text-align: right;
  padding-top: 20px;
}

.concept__message{
  margin-top: 45px;
  text-align: center;
  color: #fff;
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.9;
}

.concept__text{
  margin: 0 auto;
  margin-top: 45px;
  width: 75%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2.25;
}


/* WORRY */

.worry{
  margin: 0 auto;
  max-width: 1920px;
  background-image: url(../img/worry-mv.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #DADFE3;
  padding-bottom: 61px;
}

.worry__inner{
  margin: 0 auto;
  max-width: 1200px;
}

.worry__title{
  padding-top: 20px;
}

.worry__question{
  font-size: 3.375rem;
  font-weight: bold;
  margin-left: 40px;
}

.worry__list{
  margin-top: 31px;
  margin-left: 40px;
}

.worry__list li{
  margin-top: 22px;
  width: fit-content;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  font-size: 1.625rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 1;
}

.worry__list li:first-of-type{
  margin-top: 0px;
}

.worry__number{
  font-size: 3.4375rem;
  font-weight: bold;
  letter-spacing: -2px;
  margin-right: 25px;
  line-height: 1;
}

.worry__number-yellow{
  color: #C2932F;
}

.worry__solution{
  margin-top: 32px;
  margin-left: 40px;
  font-size: 2.375rem;
  font-weight: bold;
}

.worry__solution span{
  color: #C2932F;
}


/* MENU */

.menu{
  margin: 0 auto;
  max-width: 1920px;
  padding-bottom: 139px;
}

.menu__inner{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.menu__title{
  padding-top: 75px;
  text-align: center;
}

.menu__title__text{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.menu__introduction{
  position: absolute;
  top: 40px;
  left: 153px;
  width: 180px;
  height: 180px;
  padding-top: 20px;
  border: 6px dashed #C2932F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 1.75rem;
  font-weight: bold;
  transform: rotate(-15deg);
}

.menu__introduction span{
  display: block;
  font-size: 2.5rem;
}

.menu__content{
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #E3E7ED;
  border-radius: 24px;
}

.menu__content__message{
  background-color: #fff;
  border-radius: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 26px;
  font-size: 2.25rem;
  line-height: 1;
}

.menu__content__title{
  margin-top: 30px;
  text-align: center;
  font-size: 1.4375rem;
  font-weight: bold;
}

.menu__content__price{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 33px;
}

.menu__content__price li{
  font-size: 1.5rem;
  font-weight: bold;
}

.menu__content__price-3{
  font-weight: normal;
  font-size: 1.375rem;
}

.menu__content__price li .menu__content__price-red{
  color: #C31F1F;
  font-size: 1.75rem;
}

.menu__content__time{
  margin-top: 2px;
  text-align: center;
  font-size: 1.375rem;
  font-weight: normal;
}

.hydro{
  margin-top: 48px;
  padding-left: 54px;
  padding-right: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hydro__img{
  width: 45%;
}

.hydro__text{
  width: 48%;
  font-size: 1rem;
  font-weight: normal;
}

.menu__content__detail{
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 83px;
}

.menu__content__treatment{
  width: 44%;
}

.menu__content__treatment__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.menu__content__before-after{
  width: 42.6%;
}

.menu__content__before-after__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.menu__content__before-after__img{
  position: relative;
}

.triangle-before-after{
  position: absolute;
  top: 97px;
  left: 50%;
  width: 34px;
  height: 75px;
  transform: translateX(-50%);
}

.triangle-before-after img{
  height: 100%;
}

.menu__content__before-after__text{
  margin-top: 12px;
  font-size: 1.125rem;
  font-weight: bold;
}

.pigmentation{
  margin-top: 48px;
  padding-left: 54px;
  padding-right: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pigmentation__img{
  width: 45%;
}

.pigmentation__text{
  width: 48%;
  font-size: 1rem;
  font-weight: normal;
}

.photo{
  margin-top: 47px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.photo__img{
  width: 24%;
}

.photo__text{
  padding-top: 11px;
  width: 44%;
}

.removal__treatment{
  width: 85%;
  margin-top: 71px;
}

.removal__treatment__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.removal__before-after{
  margin-top: 29px;
  display: flex;
  justify-content: center;
  gap: 116px;
}

.removal__before-after1{
  width: 36.7%;
}

.removal__before-after2{
  width: 36.7%;
}

.removal__before-after__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.removal__before-after__img{
  position: relative;
}

.removal__before-after__text{
  margin-top: 9px;
  font-size: 1.125rem;
  font-weight: bold;
}

.premium__detail{
  margin-top: 23px;
  display: flex;
  justify-content: center;
  gap: 63px;
}

.premium__treatment{
  width: 37%;
}

.premium__treatment__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.premium__detail__text{
  width: 42%;
  padding-top: 30px;
  font-size: 1.125rem;
  font-weight: bold;
}

.eyebrow__price{
  margin-top: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.eyebrow__price span{
  color: #C31F1F;
  font-size: 1.75rem;
}

.eyebrow__detail{
  margin-top: 23px;
  display: flex;
  justify-content: center;
  gap: 82px;
}

.eyebrow__treatment{
  width: 37%;
}

.eyebrow__treatment__title{
  padding-bottom: 8px;
  font-size: 1.125rem;
  font-weight: bold;
}

.eyebrow__treatment__img{
  height: 89%;
}

.eyebrow__treatment__img img{
  height: 100%;
}

.eyebrow__detail__content{
  width: 46%;
}

.eyebrow__detail__text{
  padding-top: 27px;
}

.eyebrow__detail__img{
  margin-top: 47px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}


/* REASON */

.reason{
  margin: 0 auto;
  max-width: 1920px;
  background-color: #000;
  padding-bottom: 109px;
}

.reason__inner{
  margin: 0 auto;
  max-width: 1200px;
}

.reason__title{
  padding-top: 50px;
  text-align: center;
}

.reason__title-text{
  color: #C2932F;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}

.reason__list{
  margin-top: 40px;
  background-color: #fff;
  padding-top: 47px;
  padding-bottom: 63px;
  padding-left: 67px;
  padding-right: 67px;
}

.reason1, .reason2, .reason3, .reason4, .reason5{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.reason1{
  margin-top: 0;
}

.reason2, .reason4{
  flex-direction: row-reverse;
}

.reason__text{
  width: 48%;
}

.reason__img{
  width: 48%;
}

.reason__text__number{
  font-size: 6.25rem;
  font-weight: bold;
  color: #C2932F;
  display: inline-block;
  position: relative;
}

.reason__text__number::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 20px;
  right: -50px;
  width: 2px;
  height: 100px;
  background-color: #C2932F;
  transform: rotate(45deg);
}

.reason__text__title{
  font-size: 2.25rem;
  font-weight: bold;
}

.reason__text__description{
  margin-top: 18px;
  font-size: 1rem;
  font-weight: normal;
}