@charset "UTF-8";

html{
  font-size: 100%;
  scroll-behavior: smooth;
}

body{
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #000;
}

img{
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

li{
  list-style: none;
}

.section-title{
  color: #C2932F;
  font-size: 7.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: .1em;
  line-height: 1;
}

/* MV */

.mv{
  margin: 0 auto;
  max-width: 1920px;
  max-height: 1099px;
  width: 100%;
  height: 100%;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 160px;
}

.mv__inner{
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}

.site-title{
  transform: translateX(-80px);
  width: 269px;
  height: 269px;
}

.mv__title{
  display: inline-block;
  width: 440px;
  margin-top: 59px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 26px;
  padding-right: 36px;
  border: 1px solid #C2932F;
}

.mv__title-sp{
  display: none;
}

.mv__message{
  margin-top: 45px;
  width: 739px;
  height: 109px;
}

.mv__message-small{
  margin-top: 22px;
  margin-left: 190px;
  width: 291px;
  height: 39px;
}

.mv__message-sp{
  display: none;
}

.mv__message-small-sp{
  display: none;
}

.mv__circle-list{
  margin-top: 59px;
  display: flex;
  align-items: center;
  gap: 36px;
}

.mv__circle-list .mv__circle{
  width: 757px;
  height: 238px;
}

.mv__circle-list .mv__circle-img{
  width: 295px;
  height: 295px;
}

.mv__circle-list .mv__circle-img img{
  height: 100%;
}

/* CAMPAIGN */

.campaign{
  margin: 0 auto;
  max-width: 1920px;
  background-color: #000;
  padding-top: 54px;
  padding-bottom: 77px;
}

.campaign__inner{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.campaign__open{
  position: absolute;
  top: 0;
  left: 0;
  width: 266px;
  height: 268px;
}

.campaign__ribbon-up{
  margin: 0 auto;
  width: 563px;
  height: 30px;
}

.campaign__ribbon-down{
  margin: 0 auto;
  margin-top: 36px;
  width: 563px;
  height: 30px;
}

.campaign__title{
  margin-top: 12px;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #CCAC4E;
  text-align: center;
  text-transform: uppercase;
}

.campaign__title br{
  display: none;
}

.campaign__table{
  margin-top: 20px;
  text-align: center;
}

.campaign__table__title{
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 3px;
  padding-right: 57px;
  padding-bottom: 4px;
  padding-left: 54px;
}

.campaign__description{
  margin: 0 auto;
  margin-top: 15px;
  max-width: 615px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.campaign__name{
  width: 55%;
  border-bottom: 1px dotted #fff;
  text-align: left;
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.campaign__price{
  width: 45%;
  border-bottom: 1px dotted #fff;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.campaign__price span{
  color: #C31F1F;
  font-size: 1.75rem;
}

.campaign__table__asterisk{
  margin: 0 0 0 auto;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 9px;
  padding-right: 12px;
}


/* CONCEPT */

.concept{
  margin: 0 auto;
  max-width: 1920px;
  background-color: rgba(0, 0, 0, 0.35);
  padding-bottom: 115px;
  background-image: url(../img/concept-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.concept::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.concept__inner{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  z-index: 11;
}

.concept__title{
  text-align: right;
  padding-top: 20px;
}

.concept__message{
  margin-top: 45px;
  text-align: center;
  color: #fff;
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.9;
}

.concept__text{
  margin: 0 auto;
  margin-top: 45px;
  width: 75%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2.25;
}


/* WORRY */

.worry{
  margin: 0 auto;
  max-width: 1920px;
  background-image: url(../img/worry-mv.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #DADFE3;
  padding-bottom: 61px;
}

.worry__inner{
  margin: 0 auto;
  max-width: 1200px;
}

.worry__title{
  padding-top: 20px;
}

.worry__question{
  font-size: 3.375rem;
  font-weight: bold;
  margin-left: 40px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.worry__question br{
  display: none;
}

.worry-mv-sp{
  display: none;
}

.worry__list{
  margin-top: 31px;
  margin-left: 40px;
}

.worry__list li{
  margin-top: 22px;
  width: fit-content;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  font-size: 1.625rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 1;
}

.worry__list li:first-of-type{
  margin-top: 0px;
}

.worry__number{
  font-size: 3.4375rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-right: 25px;
  line-height: 1;
}

.worry__number-yellow{
  color: #C2932F;
}

.worry__solution{
  margin-top: 32px;
  margin-left: 40px;
  font-size: 2.375rem;
  font-weight: bold;
}

.worry__solution br{
  display: none;
}

.worry__solution span{
  color: #C2932F;
}


/* MENU */

.menu{
  margin: 0 auto;
  max-width: 1920px;
  padding-bottom: 139px;
}

.menu__inner{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.menu__title{
  padding-top: 75px;
  text-align: center;
}

.menu__title__text{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.menu__introduction{
  position: absolute;
  top: 40px;
  left: 153px;
  width: 180px;
  height: 180px;
  padding-top: 20px;
  border: 6px dashed #C2932F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 1.75rem;
  font-weight: bold;
  transform: rotate(-15deg);
}

.menu__introduction span{
  display: block;
  font-size: 2.5rem;
}

.menu__content{
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #E3E7ED;
  border-radius: 24px;
}

.menu__content__message{
  background-color: #fff;
  border-radius: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 26px;
  font-size: 2.25rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.menu__content__message .square{
  margin-right: 10px;
}

.menu__content__title{
  margin-top: 30px;
  text-align: center;
  font-size: 1.4375rem;
  font-weight: bold;
}

.menu__content__price{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 33px;
}

.menu__content__price li{
  font-size: 1.5rem;
  font-weight: bold;
}

.menu__content__price-3{
  font-weight: normal;
  font-size: 1.375rem;
}

.menu__content__price li .menu__content__price-red{
  color: #C31F1F;
  font-size: 1.75rem;
}

.menu__content__time{
  margin-top: 2px;
  text-align: center;
  font-size: 1.375rem;
  font-weight: normal;
}

.hydro{
  margin-top: 48px;
  padding-left: 54px;
  padding-right: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hydro__img{
  width: 45%;
}

.hydro__text{
  width: 48%;
  font-size: 1rem;
  font-weight: normal;
}

.menu__content__detail{
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 83px;
}

.menu__content__treatment{
  width: 44%;
}

.menu__content__treatment__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.menu__content__before-after{
  width: 42.6%;
}

.menu__content__before-after__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.menu__content__before-after__img{
  position: relative;
}

.triangle-before-after{
  position: absolute;
  top: 97px;
  left: 50%;
  width: 34px;
  height: 75px;
  transform: translateX(-50%);
}

.triangle-before-after img{
  height: 100%;
}

.menu__content__before-after__text{
  margin-top: 12px;
  font-size: 1.125rem;
  font-weight: bold;
}

.pigmentation{
  margin-top: 48px;
  padding-left: 54px;
  padding-right: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pigmentation__img{
  width: 45%;
}

.pigmentation__text{
  width: 48%;
  font-size: 1rem;
  font-weight: normal;
}

.photo{
  margin-top: 47px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.photo__img{
  width: 24%;
}

.photo__text{
  padding-top: 11px;
  width: 44%;
}

.removal__treatment{
  width: 85%;
  margin-top: 71px;
}

.removal__treatment__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.removal__before-after{
  margin-top: 29px;
  display: flex;
  justify-content: center;
  gap: 116px;
}

.removal__before-after1{
  width: 36.7%;
}

.removal__before-after2{
  width: 36.7%;
}

.removal__before-after__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.removal__before-after__img{
  position: relative;
}

.removal__before-after__text{
  margin-top: 9px;
  font-size: 1.125rem;
  font-weight: bold;
}

.premium__detail{
  margin-top: 23px;
  display: flex;
  justify-content: center;
  gap: 63px;
}

.premium__treatment{
  width: 37%;
}

.premium__treatment__title{
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.premium__detail__text{
  width: 42%;
  padding-top: 30px;
  font-size: 1.125rem;
  font-weight: bold;
}

.eyebrow__price{
  margin-top: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.eyebrow__price span{
  color: #C31F1F;
  font-size: 1.75rem;
}

.eyebrow__detail{
  margin-top: 23px;
  display: flex;
  justify-content: center;
  gap: 82px;
}

.eyebrow__treatment{
  width: 37%;
}

.eyebrow__treatment__title{
  padding-bottom: 8px;
  font-size: 1.125rem;
  font-weight: bold;
}

.eyebrow__treatment__img{
  height: 89%;
}

.eyebrow__treatment__img img{
  height: 100%;
}

.eyebrow__detail__content{
  width: 46%;
}

.eyebrow__detail__text{
  padding-top: 27px;
}

.eyebrow__detail__img{
  margin-top: 47px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}


/* REASON */

.reason{
  margin: 0 auto;
  max-width: 1920px;
  background-color: #000;
  padding-bottom: 109px;
}

.reason__inner{
  margin: 0 auto;
  max-width: 1200px;
}

.reason__title{
  padding-top: 50px;
  text-align: center;
}

.reason__title-text{
  color: #C2932F;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.reason__title-text br{
  display: none;
}

.reason__list{
  margin-top: 40px;
  background-color: #fff;
  padding-top: 47px;
  padding-bottom: 63px;
  padding-left: 67px;
  padding-right: 67px;
}

.reason1, .reason2, .reason3, .reason4, .reason5{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.reason1{
  margin-top: 0;
}

.reason2, .reason4{
  flex-direction: row-reverse;
}

.reason__text{
  width: 48%;
}

.reason__img{
  width: 48%;
}

.reason__text__number{
  font-size: 6.25rem;
  font-weight: bold;
  color: #C2932F;
  display: inline-block;
  position: relative;
}

.reason__text__number::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 20px;
  right: -50px;
  width: 2px;
  height: 100px;
  background-color: #C2932F;
  transform: rotate(45deg);
}

.reason__text__title{
  font-size: 2.25rem;
  font-weight: bold;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  line-height: 1;
}

.reason__text__title .at-first{
  display: block;
  margin-top: 5px;
  font-size: 1.5625rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.reason__text__description{
  margin-top: 18px;
  font-size: 1rem;
  font-weight: normal;
}


/* FLOW */

.flow{
  margin: 0 auto;
  max-width: 1920px;
  padding-bottom: 125px;
}

.flow__inner{
  margin: 0 auto;
  max-width: 1200px;
}

.flow__top{
  padding-top: 70px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.flow__title-text{
  font-size: 1.75rem;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.flow__list{
  margin-top: 9px;
  display: flex;
  gap: 13px;
}

.flow__list-sp{
  display: none;
}

.flow__number{
  font-size: 1rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.flow__number span{
  color: #C2932F;
  font-size: 1.75rem;
}

.flow__step{
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.1875rem;
}


/* SALON */

.salon{
  margin: 0 auto;
  max-width: 1920px;
  padding-bottom: 140px;
}

.salon__inner{
  margin: 0 auto;
  max-width: 1200px;
}

.salon__top{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 242px;
}

.salon__title-text{
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.swiper{
  margin-top: 40px;
  width: 100%;
}

.swiper-slide{
  width: 410px;
  height: 354px;
}

.salon__inner{
  margin-top: 25px;
}

/* スライドの動き等速 */
.swiper-wrapper {
  transition-timing-function: linear !important;
}
/* 画像のサイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}

.salon__open{
  display: flex;
  justify-content: center;
  gap: 20px;
  white-space: nowrap;
}

.salon__closed{
  text-align: center;
  transform: translateX(-130px);
}

.salon__map{
  margin-top: 51px;
  height: 494px;
}

.salon__map iframe {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.salon__access{
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  padding-right: 65px;
  padding-left: 10px;
}

.salon__address{
  font-style: normal;
}

.salon__railway{
  display: flex;
  gap: 13px;
}

.salon__railway img{
  width: 16px;
  height: 23px;
}


/* FAQ */

.faq{
  margin: 0 auto;
  max-width: 1920px;
  padding-bottom: 89px;
}

.faq__inner{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.faq__top{
  display: flex;
  align-items: center;
  gap: 180px;
}

.faq__title-text{
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.accordion{
  margin: 0 auto;
  margin-top: 40px;
  width: 934px;
}

.summary{
  display: block;
}

details summary {
  list-style: none;
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

.summary__inner{
  display: block;
  border: 5px solid #F0F0F0;
  border-radius: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 100px;
  position: relative;
  font-size: 1.4375rem;
  font-weight: bold;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.q{
  position: absolute;
  top: -6px;
  left: -6px;
  width: 78px;
  height: 78px;
  color: #fff;
  background-color: #C2932F;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon::before,
.icon::after {
  content: '';
  width: 20px;
  height: 1px;
  background: #C2932F;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.icon::after {
  transform: translateY(-50%) rotate(90deg);
  transition: .5s;
}

details.is-opened .icon::before {
  opacity: 0;
}

details.is-opened .icon::after {
  transform: rotate(180deg);
}

.accordion details {
  margin-bottom: 54px;
}

.accordion details:last-child {
  margin-bottom: 0;
}

.content{
  overflow: hidden;
  position: relative;
}

.content__inner{
  margin: 0 auto;
  margin-top: 46px;
  width: 73%;
}

.a{
  position: absolute;
  top: 30px;
  left: 80px;
  font-size: 1.875rem;
  font-weight: bold;
  color: #C2932F;
}


/* GREETING */

.greeting{
  margin: 0 auto;
  max-width: 1920px;
  padding-bottom: 96px;
}

.greeting__inner{
  margin: 0 auto;
  max-width: 1200px;
}

.greeting__title{
  text-align: right;
}

.greeting__title-text{
  margin: 0 auto;
  max-width: 934px;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.greeting__content{
  margin: 0 auto;
  margin-top: 27px;
  max-width: 934px;
  background-color: #E3E7ED;
  border-radius: 24px;
  padding-top: 57px;
  padding-bottom: 41px;
  padding-left: 60px;
  padding-right: 60px;
}

.greeting__representative{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 40px;
}

.greeting__representative__text{
  width: 40%;
}

.greeting__representative__name{
  font-weight: normal;
  font-size: 1rem;
}

.greeting__representative__name span{
  font-size: 1.25rem;
}

.greeting__representative__history{
  background-color: rgba(0, 0, 0, 0.06);
  margin-top: 29px;
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 63px;
  padding-bottom: 46px;
}

.greeting__representative__history__title{
  font-weight: normal;
}

.greeting__representative__history__description{
  display: flex;
  flex-wrap: wrap;
}

.greeting__representative__history__description dt{
  width: 30%;
  
}

.greeting__representative__history__description dd{
  width: 70%;
  
}

.greeting__representative__img{
  width: 52%;
}

.greeting__company{
  margin: 0 auto;
  margin-top: 39px;
  max-width: 934px;
  display: flex;
}

.greeting__company h3{
  margin: 0 0 0 auto;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: right;
  transform: translateX(100px);
}

.greeting__company dl{
  margin: 0 0 0 auto;
  width: 52.7%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.greeting__company dl dt{
  width: 25%;
  border-bottom: 0.5px solid #B9B9B9;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.greeting__company dl dd{
  width: 75%;
  border-bottom: 0.5px solid #B9B9B9;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* FOOTER */

.footer{
  margin: 0 auto;
  max-width: 1920px;
  background-color: #000;
  padding-top: 22px;
  padding-bottom: 200px;
}

.footer__up__logo{
  margin: 0 auto;
  width: 245px;
  height: 245px;
}

.footer__up__address{
  color: #fff;
  text-align: center;
  font-style: normal;
}

.footer__up__address br{
  display: none;
}

.footer__up__open{
  margin-top: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__up__closed{
  color: #fff;
  text-align: center;
  transform: translateX(-142px);
}

.footer__down__logo{
  margin: 0 auto;
  margin-top: 31px;
  width: 210px;
  height: 210px;
}

.footer__down__logo2{
  margin: 0 auto;
  width: 418px;
  height: 25px;
}

.footer__down__address{
  margin-top: 16px;
  color: #fff;
  text-align: center;
  font-style: normal;
}

.footer__down__address br{
  display: none;
}

.footer__down__number{
  text-align: center;
  color: #fff;
}

.footer-btn-box{
  margin-top: 23px;
  text-align: center;
}

.footer__down__btn{
  background-color: #fff;
  color: #000;
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  width: 418px;
  border-radius: 54px;
  text-align: left;
  font-size: 1.4375rem;
  font-weight: bold;
  position: relative;
}

.footer__down__btn img{
  position: absolute;
  top: 18px;
  right: 22px;
  width: 30px;
  height: 20px;
}

.copyright{
  margin-top: 104px;
  color: #8B8B8B;
  text-align: center;
  font-size: 0.75rem;
}

/* UNDER-BAR */

.under-bar{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
  width: 100%;
  background-color: #C31F1F;
  padding-top: 11px;
  padding-bottom: 17px;
  z-index: 100;
}

.under-bar__title{
  text-align: center;
  color: #fff;
  font: 2.125rem;
  font-weight: bold;
  line-height: 1;
}

.under-bar__link{
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 9px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.under-bar__line{
  width: 31%;
}

.under-bar__line a{
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #08C656;
  border: 5px solid #fff;
  border-radius: 54px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 64px;
  position: relative;
}

.under-bar__line .line-logo{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.under-bar__hot{
  width: 31%;
}

.under-bar__hot a{
  display: block;
  background-color: #C2932F;
  border: 5px solid #fff;
  border-radius: 54px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  line-height: 1;
  position: relative;
}

.under-bar__hot1{
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.under-bar__hot2{
  margin-top: 3px;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.arrow-white{
  width: 31px;
  height: 4px;
  position: absolute;
  top: 0px;
  right: 27px;
}

.under-bar__tel{
  width: 31%;
}

.fa-phone{
  margin-right: 6px;
}

.under-bar__tel a{
  display: block;
  background-color: #727171;
  border: 5px solid #fff;
  border-radius: 54px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 30px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.under-bar__tel-sp{
  display: none;
}

/*-------------------------------------------
TB
-------------------------------------------*/
@media screen and (max-width: 1150px) {

  .section-title{
    font-size: 4.5rem;
  }

  /* MV */

  .mv__message{
    width: 500px;
    height: 70px;
  }

  .mv__message-small{
    margin-left: 120px;
    width: 220px;
    height: 30px;
  }

  .mv__circle-list{
    margin-top: 40px;
    gap: 20px;
  }

  .mv__circle-list .mv__circle{
    width: 450px;
    height: 120px;
  }

  .mv__circle-list .mv__circle-img{
    width: 190px;
    height: 190px;
  }

  /* CAMPAIGN */

  .campaign__open{
    top: -25px;
    left: 30px;
    width: 180px;
    height: 180px;
  }

  .campaign__title{
    font-size: 3rem;
    text-align: center;
  }

  .campaign__title br{
    display: block;
  }

  /* MENU */

  .menu__introduction{
    top: 15px;
    left: 60px;
    width: 130px;
    height: 130px;
    font-size: 1.25rem;
  }

  .menu__introduction span{
    font-size: 1.5rem;
  }

  .menu__content__price{
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }

  /* REASON */

  .reason{
    padding-bottom: 40px;
  }

  .reason__inner{
    padding-left: 20px;
    padding-right: 20px;
  }

  .reason__title{
    padding-top: 30px;
  }

  .reason__title-text{
    font-size: 1.375rem;
  }

  .reason__title-text br{
    display: block;
  }

  .reason__list{
    margin-top: 11px;
    padding-top: 9px;
    padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .reason1, .reason2, .reason3, .reason4, .reason5{
    flex-direction: column;
    gap: 23px;
    margin-top: 40px;
  }

  .reason2, .reason4{
    flex-direction: column;
  }

  .reason__text{
    width: 100%;
  }

  .reason__img{
    width: 100%;
  }

  .reason__text__number{
    font-size: 4.375rem;
    line-height: 1;
  }

  .reason__text__number::after{
    top: 5px;
    right: -30px;
    height: 60px;
  }

  .reason__text__title{
    font-size: 1.5rem;
  }

  .reason__text__title .at-first{
    margin-top: 3px;
    font-size: 1.125rem;
  }

  .reason__text__description{
    margin-top: 13px;
    font-size: 0.875rem;
  }

  /* FLOW */

  .flow__list{
    flex-wrap: wrap;
    justify-content: center;
  }

  /* SALON */

  .salon__map{
    height: 350px;
  }

  .salon__access{
    flex-direction: column;
  }

  /* FAQ */

  .accordion{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .a{
    left: 40px;
  }

  /* GREETING */

  .greeting__inner{
    padding-left: 20px;
    padding-right: 20px;
  }

  .greeting__representative{
    flex-direction: column-reverse;
  }

  .greeting__representative__text{
    width: 100%;
  }

  .greeting__representative__img{
    width: 100%;
  }
  
  .greeting__company{
    flex-direction: column;
    margin-top: 17px;
  }

  .greeting__company h3{
    margin-left: 0;
    font-size: 0.875rem;
    text-align: center;
    transform: translateX(0px);
  }

  .greeting__company dl{   
    width: 100%;
  }

  .greeting__company dl dt{
    width: 25%;
    font-size: 0.8125rem;
  }

  .greeting__company dl dd{
    width: 75%;
    font-size: 0.8125rem;
    white-space: nowrap;
  }

   /* UNDER-BAR */

  .under-bar__title{
    font-size: 1.25rem;
  }

  .under-bar__link{
    padding-left: 10px;
    padding-right: 10px;
  }

  .under-bar__line{
    width: 35.6%;
  }

  .under-bar__line a{
    font-size: 1rem;
    border: 4px solid #fff;
    border-radius: 50px;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .under-bar__line .line-logo{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  .under-bar__hot{
    width: 38%;
  }

  .under-bar__hot a{
    border: 4px solid #fff;
    border-radius: 50px;
    text-align: center;
    height: 60px;
  }

  .under-bar__hot1{
    font-size: 1rem;
  }

  .under-bar__hot2{
    font-size: 0.875rem;
    padding-left: 16px;
  }

  .arrow-white{
    width: 35px;
    top: -5px;
    right: 10px;
  }

  .under-bar__tel-sp{
    width: 23%;
  }

  .under-bar__tel{
    display: none;
  }

  .under-bar__tel-sp{
    display: block;
  }

  .under-bar__tel-sp a{
    display: flex;
    align-items: center;
    background-color: #727171;
    border: 4px solid #fff;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    height: 60px;
    position: relative;
  }

  .fa-phone{
    margin-right: 10px;
  }


}


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 700px) {

  .section-title{
    font-size: 3.75rem;
  }

  /* MV */

  .mv{
    height: 485px;
    background-image: url(../img/mv-sp.png);
    background-position:  center center;
    padding-bottom: 70px;
  }

  .mv__inner{
    padding-left: 14px;
    padding-right: 14px;
  }

  .site-title{
    transform: translateX(-30px);
    width: 136px;
    height: 136px;
  }

  .mv__title{
    display: none;
    margin-top: 29px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-left: 12px;
  }

  .mv__title{
    display: none;
  }

  .mv__title-sp{
    display: block;
    margin-top: 20px;
  }

  .mv__title-sp img{
    width: 205px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-left: 12px;
    border: 1px solid #C2932F;
  }

  .mv__message{
    display: none;
  }

  .mv__message-sp{
    display: block;
    margin-top: 21px;
    width: 344px;
    height: 51px;
  }

  .mv__message-small{
    display: none;
  }

  .mv__message-small-sp{
    display: block;
    margin-top: 10px;
    margin-left: 90px;
    width: 135px;
    height: 18px;
  }

  .mv__circle-list{
    margin-top: 45px;
    gap: 8px;
  }

  .mv__circle-list .mv__circle{
    width: 253px;
    height: 79px;
  }

  .mv__circle-list .mv__circle-img{
    width: 99px;
    height: 99px;
  }


  /* CAMPAIGN */

  .campaign{
    padding-top: 37px;
    padding-bottom: 36px;
  }

  .campaign__open{
    top: -17px;
    left: 4px;
    width: 149px;
    height: 150px;
  }

  .campaign__ribbon-up{
    width: 344px;
    height: 19px;
  }

  .campaign__ribbon-down{
    margin-top: 19px;
    width: 344px;
    height: 19px;
  }

  .campaign__title{
    display: inline-block;
    margin-top: 24px;
    font-size: 2rem;
    letter-spacing: 0px; 
    padding-left: 48px;
    line-height: 1;
    text-align: left;
    transform: translateX(110px);
  }

  .campaign__table{
    margin-top: 16px;
  }

  .campaign__table__title{
    font-size: 0.8125rem;
    padding-right: 30px;
    padding-left: 30px;
  }

  .campaign__description{
    padding-left: 10px;
    padding-right: 10px;
  }


  .campaign__name{
    width: 50%;
    font-size: 0.9375rem;
    padding-top: 7px;
  }

  .campaign__price{
    width: 50%;
    font-size: 0.9375rem;
    gap: 5px;
    padding-top: 7px;
    padding-right: 10px;
    white-space: nowrap;
  }

  .campaign__price span{
    font-size: 1rem;
  }

  .campaign__table__asterisk{
    font-size: 0.5rem;
    padding-top: 5px;
    padding-right: 15px;
  }


  /* CONCEPT */

  .concept{
    padding-bottom: 80px;
    background-image: url(../img/concept-bg-sp.png);
  }

  .concept__title{
    padding-right: 20px;
  }

  .concept__message{
    margin-top: 26px;
    font-size: 1.25rem;
    line-height: 1.75;
  }

  .concept__text{
    margin-top: 22px;
    width: 82%;
    font-size: 1rem;
    line-height: 1.625;
  }


  /* WORRY */

  .worry{
    background-image: none;
    padding-bottom: 25px;
    position: relative;
    z-index: 2;
  }

  .worry__title{
    padding-left: 8px;
  }

  .worry__question{
    font-size: 2rem;
    margin-top: 8px;
    margin-left: 20px;
  }

  .worry__question br{
    display: block;
  }

  .worry-mv-sp{
    position: absolute;
    top: 0;
    right: 0;
    width: 283px;
    height: 205px;
    z-index: -1;
    display: block;
  }

  .worry__list{
    margin-top: 34px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .worry__list li{
    margin-top: 12px;
    width: 100%;
    padding-left: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 1.0625rem;
    line-height: 1.3;
  }


  .worry__number{
    font-size: 2.25rem;
    letter-spacing: 0px;
    margin-right: 7px;
  }

  .worry__solution{
    margin-top: 19px;
    margin-left: 0px;
    font-size: 1.25rem;
    text-align: center;
  }

  .worry__solution br{
    display: block;
  }


  /* MENU */

  .menu{
    padding-bottom: 62px;
  }

  .menu__inner{
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu__title{
    padding-top: 50px;
  }

  .menu__title__text{
    margin-top: 6px;
    font-size: 1.375rem;
  }

  .menu__introduction{
    top: 20px;
    left: 5px;
    width: 94px;
    height: 94px;
    padding-top: 10px;
    border: 5px dashed #C2932F;
    font-size: 1rem;
    transform: rotate(-10deg);
  }

  .menu__introduction span{
    font-size: 1.125rem;
  }

  .menu__content{
    margin-top: 18px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  .menu__content__message{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 27px;
    font-size: 1.25rem;
    line-height: 1.35;
  }

  .menu__content__message .square{
    margin-right: 14px;
    font-size: 1rem;
  }

  .menu__content__title{
    margin-top: 13px;
    font-size: 0.9375rem;
  }

  .menu__content__price li{
    font-size: 0.875rem;
    white-space: nowrap;
  }

  .menu__content__price-3{
    font-size: 0.875rem;
  }

  .menu__content__price li .menu__content__price-red{
    font-size: 1rem;
  }

  .menu__content__time{
    margin-top: 5px;
    font-size: 0.875rem;
  }

  .hydro{
    margin-top: 22px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    gap: 9px;
  }

  .hydro__img{
    width: 100%;
  }

  .hydro__text{
    width: 100%;
    font-size: 0.875rem;
  }

  .menu__content__detail{
    margin-top: 46px;
    flex-direction: column;
    gap: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .menu__content__treatment{
    width: 100%;
  }

  .menu__content__treatment__title{
    font-size: 0.9375rem;
    padding-bottom: 6px;
  }

  .menu__content__before-after{
    width: 100%;
  }

  .menu__content__before-after__title{
    font-size: 0.9375rem;
    padding-bottom: 6px;
  }

  .triangle-before-after{
    top: 72px;
    width: 25px;
    height: 55px;
  }

  .menu__content__before-after__text{
    margin-top: 11px;
    font-size: 0.9375rem;
  }

  .pigmentation{
    margin-top: 17px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    gap: 14px;
  }

  .pigmentation__img{
    width: 100%;
  }

  .pigmentation__text{
    width: 100%;
    font-size: 0.875rem;
  }

  .photo{
    margin-top: 19px;
    flex-direction: column;
    gap: 16px;
  }

  .photo__img{
    margin: 0 auto;
    width: 70%;
  }

  .photo__text{
    padding-top: 0px;
    width: 100%;
  }

  .removal__treatment{
    width: 100%;
    margin-top: 68px;
  }

  .removal__treatment__title{
    font-size: 0.9375rem;
    padding-bottom: 6px;
  }

  .removal__before-after{
    margin-top: 42px;
    flex-direction: column;
    gap: 23px;
  }

  .removal__before-after1{
    width: 100%;
  }

  .removal__before-after2{
    width: 100%;
  }

  .removal__before-after__title{
    font-size: 0.9375rem;
    padding-bottom: 6px;
  }

  .removal__before-after__text{
    margin-top: 12px;
    font-size: 0.9375rem;
  }

  .premium__detail{
    margin-top: 21px;
    flex-direction: column;
    gap: 13px;
  }

  .premium__treatment{
    width: 100%;
  }

  .premium__treatment__title{
    font-size: 0.9375rem;
    padding-bottom: 6px;
  }

  .premium__detail__text{
    width: 100%;
    padding-top: 0px;
    font-size: 0.9375rem;
  }

  .eyebrow__price{
    margin-top: 8px;
    font-size: 1rem;
  }

  .eyebrow__price span{
    font-size: 1.25rem;
  }

  .eyebrow__detail{
    margin-top: 11px;
    flex-direction: column;
    gap: 20px;
  }

  .eyebrow__treatment{
    width: 100%;
  }

  .eyebrow__treatment__title{
    padding-bottom: 6px;
    font-size: 0.9375rem;
  }

  .eyebrow__treatment__img{
    height: 192px;
  }

  .eyebrow__detail__content{
    width: 100%;
  }

  .eyebrow__detail__text{
    padding-top: 0px;
  }

  .eyebrow__detail__img{
    margin-top: 49px;
    gap: 17px;
  }

  /* FLOW */

  .flow{
    padding-bottom: 52px;
  }

  .flow__inner{
    padding-left: 20px;
    padding-right: 20px;
  }

  .flow__top{
    padding-top: 37px;
    gap: 0px;
  }

  .flow__title-text{
    font-size: 1.375rem;
    transform: translateX(-15px) translateY(35px);
  }

  .flow__list{
    display: none;
  }

  .flow__list-sp{
    display: block;
    margin-top: 30px;
  }

  .flow__list-sp li{
    margin-top: 22px;
    display: flex;
  }

  .flow__list-sp li:first-of-type{
    margin-top: 0px;
  }

  .flow__list-sp__text{
    width: 56%;
    background-color: #000;
  }

  .flow__list-sp__number{
    text-transform: capitalize;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 4px;
  }

  .flow__list-sp__number span{
    color: #C2932F;
    font-size: 2rem;
  }

  .flow__list-sp__title{
    margin-top: 20px;
    font-size: 1.1875rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .flow__list-sp__img{
    width: 44%;
    background-color: #000;
  }
  
  /* SALON */

  .salon{
    padding-bottom: 58px;
  }

  .salon__top{
    display: block;
  }

  .salon__title{
    text-align: right;
  }

  .salon__title-text{
    font-size: 1.375rem;
    text-align: center;
  }

  .swiper{
    margin-top: 15px;
    width: 100%;
  }

  .swiper-slide{
    width: 245px;
    height: 211px;
  }

  .salon__inner{
    margin-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .salon__open{
    justify-content: flex-start;
    gap: 10px;
    font-size: 0.8125rem;
    line-height: 1.3;
  }

  .salon__closed{
    margin-top: 8px;
    transform: translateX(0px);
    text-align: left;
    font-size: 0.8125rem;
  }

  .salon__map{
    height: 209px;
    margin-top: 17px;
  }

  .salon__access{
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
    gap: 32px;
  }

  .salon__address{
    font-size: 0.875rem;
  }

  .salon__railway{
    font-size: 0.875rem;
  }


  /* FAQ */

  .faq{
    padding-bottom: 49px;
  }

  .faq__top{
    display: block;
  }

  .faq__title{
    padding-left: 8px;
  }

  .faq__title-text{
    font-size: 1.375rem;
    text-align: center;
  }

  .accordion{
    margin-top: 28px;
  }

  .summary__inner{
    border: 3px solid #F0F0F0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 61px;
    padding-right: 61px;
    font-size: 1rem;
    line-height: 1.3125;
  }

  .q{
    top: -5px;
    left: -5px;
    width: 57px;
    height: 57px;
    font-size: 1.625rem;
  }

  .icon::before,
  .icon::after {
    width: 14px;
    right: 13px;
  }

  .accordion details {
    margin-bottom: 32px;
  }

  .content__inner{
    margin: 0 0 0 auto;
    margin-top: 27px;
    margin-right: 20px;
    width: 79%;
  }

  .a{
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
  }


  /* GREETING */

  .greeting{
    padding-bottom: 43px;
  }

  .greeting__title-text{
    font-size: 1.375rem;
  }

  .greeting__content{
    margin-top: 13px;
    border-radius: 12px;
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .greeting__text{
    font-size: 0.875rem;
  }

  .greeting__representative{
    gap: 12px;
  }

  .greeting__representative__name{
    font-size: 0.875rem;
    text-align: right;
  }

  .greeting__representative__history{
    margin-top: 15px;
    padding-top: 14px;
    padding-left: 7px;
    padding-right: 15px;
    padding-bottom: 36px;
    display: flex;
    gap: 19px;
  }

  .greeting__representative__history__title{
    white-space: nowrap;
    font-size: 0.8125rem;
  }

  .greeting__representative__history__description dt{
    font-size: 0.8125rem;
  }

  .greeting__representative__history__description dd{
    font-size: 0.8125rem;
  }


  /* FOOTER */

  .footer{
    padding-top: 0px;
    padding-bottom: 150px;
  }

  .footer__up__logo{
    width: 191px;
    height: 191px;
  }

  .footer__up__address{
    text-align: center;
    font-size: 0.8125rem;
  }

  .footer__up__address br{
    display: block;
  }

  .footer__up__open{
    margin-top: 23px;
    gap: 10px;
    font-size: 0.8125rem;
    line-height: 1.3;
  }

  .footer__up__closed{
    margin-top: 8px;
    font-size: 0.8125rem;
    transform: translateX(-100px);
  }

  .footer__down__logo{
    margin-top: 30px;
    width: 163px;
    height: 164px;
  }

  .footer__down__logo2{
    width: 267px;
    height: 16px;
  }

  .footer__down__address{
    margin-top: 8px;
    font-size: 0.8125rem;
    line-height: 1.3;
  }

  .footer__down__address br{
    display: block;
  }

  .footer__down__number{
    font-size: 0.8125rem;
  }

  .footer__down__btn{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 18px;
    width: 247px;
    font-size: 0.875rem;
  }

  .footer__down__btn img{
    top: 8px;
    right: 10px;
    width: 18px;
    height: 18px;
  }

  .copyright{
    margin-top: 110px;
  }

  /* UNDER-BAR */

  .under-bar{
    padding-top: 7px;
    padding-bottom: 11px;
  }

  .under-bar__title{
    font-size: 0.875rem;
  }

  .under-bar__link{
    margin-top: 6px;
    gap: 6px;

  }

  .under-bar__line a{
    font-size: 0.875rem;
    border: 2px solid #fff;
    border-radius: 23px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 7px;
    height: 42px;
  }

  .under-bar__line .line-logo{
    width: 28px;
    height: 27px;
    margin-right: 3px;
  }

  .under-bar__hot a{
    border: 2px solid #fff;
    border-radius: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    text-align: left;
    height: 42px;
  }

  .under-bar__hot1{
    font-size: 0.8125rem;
  }

  .under-bar__hot2{
    margin-top: 2px;
    font-size: 0.375rem;
    padding-left: 16px;
  }

  .arrow-white{
    width: 14px;
    top: 7px;
    right: 8px;
  }

  .under-bar__tel-sp a{
    border: 2px solid #fff;
    border-radius: 23px;
    padding-left: 8px;
    font-size: 0.875rem;
    height: 42px;
  }

  .fa-phone{
    margin-right: 1px;
  }
}